* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

header {
    background-color: lightsteelblue;
}

header > h1 {
    text-align: center;
    padding: 20px;
}

menu {
    display: none;
}

ul {
    padding: 10px;
}

li {
    display: inline-block;
    background-color: rgb(48, 55, 62);
    color: white;
    font-weight: bolder;
    padding: 5px;
}

article {
    width: 100%;
}

article::after {
    content: 'Este site é meramente um teste.';
}